<center>
	<h2 id="AvisTitre">VOTRE AVIS</h2>
	<div class="Etoile">
		<input type="checkbox"> <br>
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
	</div>

	<div class="Etoile">
		<input type="checkbox"> <br> 
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
	</div>

	<div class="Etoile">
		<input type="checkbox"> <br>
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
	</div>

	<div class="Etoile">
		<input type="checkbox"> <br>
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
	</div>

	<div class="Etoile">
		<input type="checkbox"> <br>
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.123-stickers.com/1357-1367-large/mickeal-jackson-7.jpg&sa=X&ei=inRlVbSHD4ajU72DgfgB&ved=0CAkQ8wc&usg=AFQjCNGb4262lO21Zsp3SXkxzKjChGLwtA">
	</div> <br> <br>
	<button class="btn btn-info" onclick="document.location.href='/merci'">VALIDER</button>
	<button class="btn btn-default" onclick="document.location.href='/'">RETOUR</button>
</center>

<style>
	img {
		width: 20px;
	}

	.Etoile {
		display: inline-block;
		margin-left: 30px;
	}
</style>