<div class="MilieuGauche">
	<h3 id="TextePlombierTitre">UN PLOMBIER SUR MARSEILLE</h3>
	<img src="http://hamilton-depannage.fr/wp-content/uploads/2014/10/Fotolia_27616741_XS-300x200.jpg" class="img-thumbnail" id="ImgPlombier">
	<p id="TexteMilieuGauche"><span id="TexteMilieuGaucheII">Vous avez une urgence en plomberie à Marseille ou dans les bouches du Rhône ? Vous cherchez un spécialiste ? Katsu Plomberie vous envois un professionnel, chez vous, en moins de 30 minutes, pour régler tous vos problèmes. <br> <br>
	Katsu Plomberie met à votre disposition des professionnels pour vous aider dans tous vos problèmes. Notre entreprise</span> a la solution pour vous, notre équipe à Marseille et sa région est à votre service 7j/7 et 24h/24, en vous offrant disponibilité totale, même les weekends ! <br> <br>
	Nos travaux représentent une très grande opportunité pour vous: rapidité, qualité et prix étudiés ! Pour des tâches allant du simple dépannage à de gros travaux d’installation ou de rénovation.</p>
</div>
<div class="MilieuDroite">
	<h3 id="TexteDevisTitre">DEVIS GRATUIT</h3>
	<img id="ImgMilieuDroite" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://cdn.vectorstock.com/i/composite/42,90/plumber-with-sign-vector-784290.jpg&sa=X&ei=oGBkVefNK4z_UK-egJAI&ved=0CAkQ8wc&usg=AFQjCNE6rqZP-GpAuY2NJv9-MjMcxFbdGg">
	<p id="TexteDevis">Le devis est gratuit par mail, <br> si cella n'implique pas de deplacement. <br> <br>
	<strong>katsuplomberie@gmail.com</strong></p>
</div>
<div class="MilieuCentre">
	<center>
		<h4 id="TexteCentre">DEJA FAIT APPEL A NOS SERVICES ?</h4>
		<button type="button" onclick="document.location.href='/avis'" id="AvisCentre" class="btn btn-default">NOTER L'ENTREPRISE</button>
	</center>
</div>