<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Katsu Plomberie</title>
		<link rel="stylesheet" href="/Bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/KP.css">
	</head>
	<body>
		<div class="Haut">
			<img id="ImgLogoTitre" class="Inline" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.abado-plomberie.fr/plombier-villeneuve-loubet.png?v=3klvn4it7gmff9&sa=X&ei=HilkVcydLIvkUsjLgbgK&ved=0CAkQ8wc4Dg&usg=AFQjCNEMcS1N4zkNCKRHhjXNXbBPqon44w"> 
			<h3 class="Inline" id="TitreHaut">KATSU PLOMBERIE</h3>
		</div>
		<div class="InfoBar">
			<img id="ImgNum" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.nimblebit.com/images/phone-icon.png&sa=X&ei=-jxkVdugBcasUdWYgJgH&ved=0CAkQ8wc4vgE&usg=AFQjCNGOr64q0NKUuCG1TIoAnYJB99O06Q">
			<h1 id="MilieuNum">04 91 12 34 56</h1>
			<p id="TexteBar"><strong><span id="TexteUnderline">DISPONIBILITÉ</span></strong> 7j/7 24h/24</p>
			<img id="ImgTime" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://pngimg.com/upload/clock_PNG6595.png&sa=X&ei=MEJkVYurLMPYU9rSgIAD&ved=0CAkQ8wc&usg=AFQjCNHxQdGSDo_TThOfhJRRni0a9I5rNg">
		</div>

		<div class="Milieu">
			<%= yield %>
		</div>

		<footer>
			<div class="Bas">
				<p id="Copyright">© TEULIERE CHRISTOPHER #SIMPLonMARS</p>
			</div>
		</footer>
	</body>
</html>