<center>
	<br>
	<h4>Merci pour votre avis, n'hesitez pas a nous rappeler pour faire appel a nos services !</h4>
	<button type="button" onclick="document.location.href='/'" id="RetourAccueil" class="btn btn-default">RETOUR A L'ACCUEIL</button>
</center>