<button id="jouer" type="button" onclick="document.location.href='/pfc'" class="btn btn-danger">JOUER</button> <br> <br>
<p id="p1">L’objectif est simple, il faut affronter l'ordinateur en utilisant l’une des trois armes: la pierre, la feuille ou la paire de ciseaux.</p> <br>
<p id="p2">
La pierre gagne face aux ciseaux. Elle les broie. <br>
Les ciseaux l’emportent face à la feuille qu’ils coupent. <br>
La feuille bat la pierre en l’enveloppant. <br> <br>
Bonne chance !
</p>