<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Pierre Feuille Ciseaux</title>
		<link rel="stylesheet" href="/Bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/PierreFeuilleCiseaux.css">
	</head>
	<body>
	<center>
		<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://ysabel.fr/cv/pierre_feuille_ciseaux/images/logo.png&sa=X&ei=Ub9dVYWkFsauU5D-gcAN&ved=0CAkQ8wc&usg=AFQjCNGd9fK51UwXQpVQbPB4jPfr9CFfrg"> <br>
		<%= yield %>
	</center>
	</body>
</html>