<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Pierre Feuille Ciseaux</title>
		<link rel="stylesheet" href="/Bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/PierreFeuilleCiseaux.css">
	</head>
	<body>
	<center>
		<h1>PIERRE FEUILLE CISEAUX</h1> <br>
		<%= yield %>
	</center>
	</body>
</html>