<script type="text/javascript" src="/PierreFeuilleCiseaux.js"></script>
<div class="inline">
	Votre choix: 
	<script>document.write(choixUtilisateur)</script> 
</div>
<br>
<div class="inline">
	Choix de l'ordinateur: 
	<script>document.write(choixOrdi)</script>
</div>
<br>
<div class="inline">
	<strong>
	<script>document.write(comparer(choixUtilisateur, choixOrdi))</script>
	</strong>
</div>
<br> <br>
<button id="jouer" type="button" onclick="document.location.href='/pfc'" class="btn btn-danger">REJOUER</button>