<h3>DONNE MOI TES COORDONNEES FRERE !</h3>
<form action="/mesdonnes" method="post">
	<input type="text" name="nom" placeholder="Ton Nom ?!">
	<input type="text" name="prenom" placeholder="Ton prenom ?!">
	<input type="text" name="adresse" placeholder="Ton adresse ?!">
	<input type="text" name="cp" placeholder="Ton code postal ?!">
	<input type="text" name="pays" placeholder="Ton pays ?!">
	<input type="submit" value="Envoyer">
</form>