<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="LeCSS.css">
		<meta charset="utf-8"/>
		<title>Mercredi 1er Avril</title>
	</head>
	<body>
		<center>
			<%=yield %>
		</center>
	</body>
</html>