<div class="Bluray">

<a data-toggle="modal" data-target=".bs-avengers1-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://images4.static-bluray.com/movies/covers/30654_front.jpg&sa=X&ei=sM1JVYPQKdXjaprugfAD&ved=0CAkQ8wc&usg=AFQjCNHf91MDdW9seCGHnNGUqx3-FYWmPw"> 
</a>
<div class="modal fade bs-avengers1-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://images4.static-bluray.com/movies/covers/30654_front.jpg&sa=X&ei=sM1JVYPQKdXjaprugfAD&ved=0CAkQ8wc&usg=AFQjCNHf91MDdW9seCGHnNGUqx3-FYWmPw">
            <br>
            <br>
            Avengers<br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-avengers2-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://3.bp.blogspot.com/-UsVK5leWaAI/T6nzXgqw7qI/AAAAAAAAAAw/jQOy4HCUfCM/s1600/30654_front2.png&sa=X&ei=rPdJVZjxC4H6Ut7sgNAK&ved=0CAkQ8wc4IQ&usg=AFQjCNGghe63fJPAiM6TVq5h6M4vFx0tIQ"> 
</a>
<div class="modal fade bs-avengers2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://3.bp.blogspot.com/-UsVK5leWaAI/T6nzXgqw7qI/AAAAAAAAAAw/jQOy4HCUfCM/s1600/30654_front2.png&sa=X&ei=rPdJVZjxC4H6Ut7sgNAK&ved=0CAkQ8wc4IQ&usg=AFQjCNGghe63fJPAiM6TVq5h6M4vFx0tIQ">
            <br>
            <br>
            Avengers II, L'Air D'Ultron <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-captain1-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://ganool.com/wp-content/uploads/2013/09/Captain-America-The-First-Avenger.jpg&sa=X&ei=FfpJVaXHLcKyUZO_gOAK&ved=0CAkQ8wc&usg=AFQjCNGSF29xFK2lHfUEKgCjgt4Gic8SiQ"> 
</a>
<div class="modal fade bs-captain1-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://ganool.com/wp-content/uploads/2013/09/Captain-America-The-First-Avenger.jpg&sa=X&ei=FfpJVaXHLcKyUZO_gOAK&ved=0CAkQ8wc&usg=AFQjCNGSF29xFK2lHfUEKgCjgt4Gic8SiQ">
            <br>
            <br>
            Captain America, The First Avenger <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-captain2-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.dvdbdshop.com/images/capitanamerica2bd.png&sa=X&ei=OvpJVdKlGYj3UI76geAK&ved=0CAkQ8wc&usg=AFQjCNGFyxUaM22emiPiJlaKJ0C4QCLBow"> 
</a>
<div class="modal fade bs-captain2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.dvdbdshop.com/images/capitanamerica2bd.png&sa=X&ei=OvpJVdKlGYj3UI76geAK&ved=0CAkQ8wc&usg=AFQjCNGFyxUaM22emiPiJlaKJ0C4QCLBow">
            <br>
            <br>
            Captain America II, Le Soldat De L'Hiver <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-ironman1-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://ecx.images-amazon.com/images/I/51hso1X0GJL.jpg&sa=X&ei=N8lJVfipMtHLaK3mgdAJ&ved=0CAkQ8wc&usg=AFQjCNE0ptMEZLzshW3Sjw7M0GWa3wXOuw"> 
</a>
<div class="modal fade bs-ironman1-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://ecx.images-amazon.com/images/I/51hso1X0GJL.jpg&sa=X&ei=N8lJVfipMtHLaK3mgdAJ&ved=0CAkQ8wc&usg=AFQjCNE0ptMEZLzshW3Sjw7M0GWa3wXOuw">
            <br>
            <br>
            Iron Man<br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>

<a data-toggle="modal" data-target=".bs-ironman2-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://image.noelshack.com/fichiers/2013/22/1369861062-iron-man-2-bluray.jpg&sa=X&ei=N8tJVdPzB86xacO-gfgL&ved=0CAkQ8wc&usg=AFQjCNENNL3dA8V1sKDau_442n9vtJudqw"> 
</a>
<div class="modal fade bs-ironman2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://image.noelshack.com/fichiers/2013/22/1369861062-iron-man-2-bluray.jpg&sa=X&ei=N8tJVdPzB86xacO-gfgL&ved=0CAkQ8wc&usg=AFQjCNENNL3dA8V1sKDau_442n9vtJudqw">
            <br>
            <br>
            Iron Man II <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-ironman3-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.blast-o-rama.com/wp-content/uploads/2013/05/ironman3.jpg&sa=X&ei=l8xJVajxDdDvavXUgcgI&ved=0CAkQ8wc4QA&usg=AFQjCNFLiyHscvyP1iYwG_-E_9CMq34oyQ"> 
</a>
<div class="modal fade bs-ironman3-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.blast-o-rama.com/wp-content/uploads/2013/05/ironman3.jpg&sa=X&ei=l8xJVajxDdDvavXUgcgI&ved=0CAkQ8wc4QA&usg=AFQjCNFLiyHscvyP1iYwG_-E_9CMq34oyQ">
            <br>
            <br>
            Iron Man III <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-superman-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://cdn.movieweb.com/img.product/DVzeypLGpKDnDB_4_l.jpg&sa=X&ei=l_xJVYO-N8HuUPzTgcAK&ved=0CAkQ8wc&usg=AFQjCNFv5REdOPf1X2QPnJWEsOaqjejwlA"> 
</a>
<div class="modal fade bs-superman-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://cdn.movieweb.com/img.product/DVzeypLGpKDnDB_4_l.jpg&sa=X&ei=l_xJVYO-N8HuUPzTgcAK&ved=0CAkQ8wc&usg=AFQjCNFv5REdOPf1X2QPnJWEsOaqjejwlA">
            <br>
            <br>
            Man Of Steel <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-spiderman-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://ftpb.free.fr/torrents/amazing-spiderman.jpg&sa=X&ei=of1JVe_qLMuAUejsgegK&ved=0CAkQ8wc&usg=AFQjCNF3UosaqTQ1LNRll_7g90ac13OkIA"> 
</a>
<div class="modal fade bs-spiderman-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://ftpb.free.fr/torrents/amazing-spiderman.jpg&sa=X&ei=of1JVe_qLMuAUejsgegK&ved=0CAkQ8wc&usg=AFQjCNF3UosaqTQ1LNRll_7g90ac13OkIA">
            <br>
            <br>
            The Amazing Spider Man <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-spiderman2-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://images.cinefacts.de/The-Amazing-Spider-Man-2_Blu-ray_3D_cover.jpg&sa=X&ei=R_5JVeDcDMLlUt7UgdAK&ved=0CAkQ8wc&usg=AFQjCNEhuP9nrHeONjcUQjHnyipr8kmSKA"> 
</a>
<div class="modal fade bs-spiderman2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://images.cinefacts.de/The-Amazing-Spider-Man-2_Blu-ray_3D_cover.jpg&sa=X&ei=R_5JVeDcDMLlUt7UgdAK&ved=0CAkQ8wc&usg=AFQjCNEhuP9nrHeONjcUQjHnyipr8kmSKA">
            <br>
            <br>
            The Amazing Spider Man II <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div> <br>

<a data-toggle="modal" data-target=".bs-batman-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://i.imgur.com/z2ZJm.jpg&sa=X&ei=jv5JVbKWIIr1UOr5gcAK&ved=0CAkQ8wc&usg=AFQjCNF4wxBn9IIIj7MhrZ3HgVvV7UELDw"> 
</a>
<div class="modal fade bs-batman-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://i.imgur.com/z2ZJm.jpg&sa=X&ei=jv5JVbKWIIr1UOr5gcAK&ved=0CAkQ8wc&usg=AFQjCNF4wxBn9IIIj7MhrZ3HgVvV7UELDw">
            <br>
            <br>
            Batman, Begins <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-batman2-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.atout-geek.com/wp-content/uploads/2009/08/batman.jpg&sa=X&ei=0v5JVdj6IoTlUpz4gdgK&ved=0CAkQ8wc&usg=AFQjCNH-M8D7VLwKVGdtnogkZP55MQJ7mg"> 
</a>
<div class="modal fade bs-batman2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.atout-geek.com/wp-content/uploads/2009/08/batman.jpg&sa=X&ei=0v5JVdj6IoTlUpz4gdgK&ved=0CAkQ8wc&usg=AFQjCNH-M8D7VLwKVGdtnogkZP55MQJ7mg">
            <br>
            <br>
            The Dark Knight <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-batman3-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://ecx.images-amazon.com/images/I/91HM6MuaXBL._SL1500_.jpg&sa=X&ei=Mf9JVeTMOoGeUL2qgPgK&ved=0CAkQ8wc&usg=AFQjCNH1h-s2izK1PRw1XWB1MtPHfY-9OQ"> 
</a>
<div class="modal fade bs-batman3-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://ecx.images-amazon.com/images/I/91HM6MuaXBL._SL1500_.jpg&sa=X&ei=Mf9JVeTMOoGeUL2qgPgK&ved=0CAkQ8wc&usg=AFQjCNH1h-s2izK1PRw1XWB1MtPHfY-9OQ">
            <br>
            <br>
            The Dark Knight Rises <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-thor-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://images2.static-bluray.com/movies/covers/26486_front.jpg&sa=X&ei=1f9JVdXlD4vzUuLbgdgK&ved=0CAkQ8wc4IA&usg=AFQjCNEYZyGDxEwJacZjejuBJSZcaCAK0Q"> 
</a>
<div class="modal fade bs-thor-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://images2.static-bluray.com/movies/covers/26486_front.jpg&sa=X&ei=1f9JVdXlD4vzUuLbgdgK&ved=0CAkQ8wc4IA&usg=AFQjCNEYZyGDxEwJacZjejuBJSZcaCAK0Q">
            <br>
            <br>
            Thor <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-thor2-modal-lg">
    <img id="ImgBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://img.over-blog.com/926x1174/3/13/94/68/dvd7/thor2-coll1.jpg&sa=X&ei=GABKVdLIK8WsUcCOgPgK&ved=0CAkQ8wc&usg=AFQjCNGQomSwezYOd0VeUBWcUMHjmozcRg"> 
</a>
<div class="modal fade bs-thor2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalBluray" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://img.over-blog.com/926x1174/3/13/94/68/dvd7/thor2-coll1.jpg&sa=X&ei=GABKVdLIK8WsUcCOgPgK&ved=0CAkQ8wc&usg=AFQjCNGQomSwezYOd0VeUBWcUMHjmozcRg">
            <br>
            <br>
            Thor II, Le Monde Des Tenebres <br>
            Prix: 24.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/bluray'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

</div>