<center>
<div class="CD">
	<a data-toggle="modal" data-target=".bs-alonzo-modal-lg">
		<img id="ImgCD" src="http://www.13or-du-hiphop.fr/sortie/Alonzofficiel2.jpg"> 
	</a>
	<div class="modal fade bs-alonzo-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
    			<br>
    			<img id="ImgModalCd" src="http://www.13or-du-hiphop.fr/sortie/Alonzofficiel2.jpg">
    			<br>
    			<br>
      		Alonzo | Reglement De Compte <br>
      		Prix: 14.99 €
      			<br>
      			<br>
      			<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      			<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      			<br>
      			<br>
    		</div>
  		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-blacko-modal-lg">
		<img id="ImgCD" src="http://www.13or-du-hiphop.fr/sortie/132428163599702.jpg"> 
	</a>
	<div class="modal fade bs-blacko-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.13or-du-hiphop.fr/sortie/132428163599702.jpg">
        	<br>
        	<br>
        	Blacko | Le Temps Est Compté <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-blackm-modal-lg">
		<img id="ImgCD" src="http://www.13or-du-hiphop.fr/sortie/444.jpg">
	</a>
	<div class="modal fade bs-blackm-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.13or-du-hiphop.fr/sortie/444.jpg">
        	<br>
        	<br>
        	Black M | Le Monde Plus Gros Que Mes Yeux <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-booba-modal-lg">
		<img id="ImgCD" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.raprnb.com/wp-content/uploads/2015/02/boobacoveralbumDuc.jpg&sa=X&ei=x21HVYaxINCKaN7ggMgB&ved=0CAkQ8wc&usg=AFQjCNFw64uhHMvbVINm0W_Fo3wb6OWIVQ">
	</a>
	<div class="modal fade bs-booba-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.raprnb.com/wp-content/uploads/2015/02/boobacoveralbumDuc.jpg&sa=X&ei=x21HVYaxINCKaN7ggMgB&ved=0CAkQ8wc&usg=AFQjCNFw64uhHMvbVINm0W_Fo3wb6OWIVQ">
        	<br>
        	<br>
        	Booba | D.U.C. <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-elmatador-modal-lg">
		<img id="ImgCD" src="http://www.13or-du-hiphop.fr/sortie/22444.jpg">
	</a>
	<div class="modal fade bs-elmatador-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.13or-du-hiphop.fr/sortie/22444.jpg">
        	<br>
        	<br>
        	El Matador | XIII NRV <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div><br>

	<a data-toggle="modal" data-target=".bs-gradur-modal-lg">
		<img id="ImgCD" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.rapghetto.com/uploads/150104/sx/gradur-l-homme-au-bob_85981.jpg&sa=X&ei=sXpIVc-SL4HZU73vgMAM&ved=0CAkQ8wc&usg=AFQjCNGml2HgkLoKtZ5s7dfXMr1WXXmlFQ">
	</a>
	<div class="modal fade bs-gradur-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.rapghetto.com/uploads/150104/sx/gradur-l-homme-au-bob_85981.jpg&sa=X&ei=sXpIVc-SL4HZU73vgMAM&ved=0CAkQ8wc&usg=AFQjCNGml2HgkLoKtZ5s7dfXMr1WXXmlFQ">
        	<br>
        	<br>
        	Gradur | L'Homme Au Bob <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-jul-modal-lg">
		<img id="ImgCD" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.trackmusik.fr/images/albums/1414338715_Jul_Je_trouve_pas_le_sommeil.jpg&sa=X&ei=cXpIVZWhL8PdUauPgZgC&ved=0CAkQ8wc&usg=AFQjCNFp8aEChm8rGM9bCiskeua5jYqrtA">
	</a>
	<div class="modal fade bs-jul-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.trackmusik.fr/images/albums/1414338715_Jul_Je_trouve_pas_le_sommeil.jpg&sa=X&ei=cXpIVZWhL8PdUauPgZgC&ved=0CAkQ8wc&usg=AFQjCNFp8aEChm8rGM9bCiskeua5jYqrtA">
        	<br>
        	<br>
        	Jul | Je Trouve Pas Le Sommeil <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-kaaris-modal-lg">
		<img id="ImgCD" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.13or-du-hiphop.fr/sons/Kaaris45.jpg&sa=X&ei=sH9IVdO8F8T3Uu-ggfAE&ved=0CAkQ8wc&usg=AFQjCNEaob3ArGmcxYy44TLzB3QxrklmRQ"> 
	</a>
	<div class="modal fade bs-kaaris-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.13or-du-hiphop.fr/sons/Kaaris45.jpg&sa=X&ei=sH9IVdO8F8T3Uu-ggfAE&ved=0CAkQ8wc&usg=AFQjCNEaob3ArGmcxYy44TLzB3QxrklmRQ">
        	<br>
        	<br>
        	Kaaris | Le Bruit De Mon Ame <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-lacrim-modal-lg">
		<img id="ImgCD" src="http://www.13or-du-hiphop.fr/sortie/lacrim-corleone2.jpg">
	</a>
	<div class="modal fade bs-lacrim-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.13or-du-hiphop.fr/sortie/lacrim-corleone2.jpg">
        	<br>
        	<br>
        	Lacrim | Corleone <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-lafouine-modal-lg">
		<img id="ImgCD" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.rapghetto.com/uploads/141043/sx/la-fouine-cdc-4_29765.jpg&sa=X&ei=MXtIVfqaLcHmUtb7gZAK&ved=0CAkQ8wc&usg=AFQjCNGoGWtHk12x1aY0JqD2a1I8JBVkSQ">
	</a>
	<div class="modal fade bs-lafouine-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.rapghetto.com/uploads/141043/sx/la-fouine-cdc-4_29765.jpg&sa=X&ei=MXtIVfqaLcHmUtb7gZAK&ved=0CAkQ8wc&usg=AFQjCNGoGWtHk12x1aY0JqD2a1I8JBVkSQ">
        	<br>
        	<br>
        	La Fouine | C.D.C. 4 <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div> <br>

	<a data-toggle="modal" data-target=".bs-mactyer-modal-lg">
		<img id="ImgCD" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://static.booska-p.com/images/albums/je-suis-une-legende.jpg&sa=X&ei=P2xHVbaNO8jhaNi4gNgE&ved=0CAkQ8wc&usg=AFQjCNHgF9tCkCrJXuyQK1LfrlVvlSijwg">
	</a>
	<div class="modal fade bs-mactyer-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://static.booska-p.com/images/albums/je-suis-une-legende.jpg&sa=X&ei=P2xHVbaNO8jhaNi4gNgE&ved=0CAkQ8wc&usg=AFQjCNHgF9tCkCrJXuyQK1LfrlVvlSijwg">
        	<br>
        	<br>
        	Mac Tyer | Je Suis Une Legende <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-maska-modal-lg">
		<img id="ImgCD" src="http://www.13or-du-hiphop.fr/sortie/NAX4RPqso2.jpg">
	</a>
	<div class="modal fade bs-maska-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.13or-du-hiphop.fr/sortie/NAX4RPqso2.jpg">
        	<br>
        	<br>
        	Maska | Espace Temps <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-rohff-modal-lg">
		<img id="ImgCD" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.rapghetto.com/uploads/130415/sx/pdrg-saison-1_29711.jpg&sa=X&ei=4HpIVeOaIITeU6a3gOgF&ved=0CAkQ8wc&usg=AFQjCNE9zz2Z9l0vayFb0VBP9Pk6trr5Ow"> 
	</a>
	<div class="modal fade bs-rohff-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.rapghetto.com/uploads/130415/sx/pdrg-saison-1_29711.jpg&sa=X&ei=4HpIVeOaIITeU6a3gOgF&ved=0CAkQ8wc&usg=AFQjCNE9zz2Z9l0vayFb0VBP9Pk6trr5Ow">
        	<br>
        	<br>
        	Rohff | P.D.R.G. <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-tlf-modal-lg">
		<img id="ImgCD" src="http://www.13or-du-hiphop.fr/sortie/tlfofficial.jpg"> 
	</a>
	<div class="modal fade bs-tlf-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.13or-du-hiphop.fr/sortie/tlfofficial.jpg">
        	<br>
        	<br>
        	TLF | No Limit <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div>

	<a data-toggle="modal" data-target=".bs-youssoupha-modal-lg">
		<img id="ImgCD" src="http://www.13or-du-hiphop.fr/sortie/youssoupha-ngrtd.jpg">
	</a>
	<div class="modal fade bs-youssoupha-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg">
        	<div class="modal-content">
        	<br>
        	<img id="ImgModalCd" src="http://www.13or-du-hiphop.fr/sortie/youssoupha-ngrtd.jpg">
        	<br>
        	<br>
        	Youssoupha | N.G.R.T.D. <br>
        	Prix: 14.99 €
        	<br>
        	<br>
        	<button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
      		<button id="AR" class="btn btn-default" onclick="document.location.href='/cd'">RETOUR</button>
      		<br>
      		<br>
        	</div>
   		</div>
	</div> 
</div>
</center>