<center>
    <div id="Index" class="row">
        <div class="col-xs-6 col-sm-4">
            <h4 id="TopIndex">TOP VENTE CD</h4>
            <div>
                <p id="TexteTop">MAC TYER - JE SUIS UNE LEGENDE</p>
                <a href="/cd">
                    <img id="ImgTop" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://static.booska-p.com/images/albums/je-suis-une-legende.jpg&sa=X&ei=P2xHVbaNO8jhaNi4gNgE&ved=0CAkQ8wc&usg=AFQjCNHgF9tCkCrJXuyQK1LfrlVvlSijwg">
                </a>
            </div>
            <br>
            <div>
                <p id="TexteTop">BOOBA - D.U.C.</p>
                <a href="/cd">
                    <img id="ImgTop" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.raprnb.com/wp-content/uploads/2015/02/boobacoveralbumDuc.jpg&sa=X&ei=x21HVYaxINCKaN7ggMgB&ved=0CAkQ8wc&usg=AFQjCNFw64uhHMvbVINm0W_Fo3wb6OWIVQ">
                </a>
            </div>
            <br>
            <div>
                <p id="TexteTop">KAARIS - LE BRUIT DE MON ÂME</p>
                <a href="/cd">
                    <img id="ImgTop" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.abcdrduson.com/wp-content/uploads/2015/02/kaaris-le-bruit-de-mon-ame.jpg&sa=X&ei=TG5HVaneB8nhaJmPgfgC&ved=0CAkQ8wc&usg=AFQjCNGP6LVZ_Zbae0WqnOKom-zxyWxH4Q">
                </a>
            </div>
            <br>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h4 id="TopIndex">TOP VENTE BLU-RAY</h4>
            <div>
                <p id="TexteTop">THE AVENGERS</p>
                <a href="/bluray">
                    <img id="ImgTop" src="http://www.google.fr/url?source=imglanding&ct=img&q=https://40.media.tumblr.com/3653101e30bfc41862e0ae7e6b28bc61/tumblr_mfm37zTkss1rzsrk4o2_r1_500.png&sa=X&ei=yXBHVarNJYXcasejgYAF&ved=0CAkQ8wc4Qg&usg=AFQjCNGZaCqpqr0exNfzQY98cDlQ6J3YLQ">
                </a>
            </div>
            <br>
            <div>
                <p id="TexteTop">THE DARK KNIGHT</p>
                <a href="/bluray">
                    <img id="ImgTop" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://images5.fanpop.com/image/photos/31600000/The-Dark-Knight-Rises-bruce-wayne-and-selina-kyle-31699688-500-600.png&sa=X&ei=f3JHVeGjCs73aqbDgaAG&ved=0CAkQ8wc&usg=AFQjCNE8w9OfxW5oXYDqcSQQCF9I9dtX-g">
                </a>
            </div>
            <br>
            <div>
                <p id="TexteTop">FAST & FURIOUS</p>
                <a href="/bluray">
                    <img id="ImgTop" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://24.media.tumblr.com/tumblr_llpvxeeqNX1qd4229o1_500.jpg&sa=X&ei=O3RHVYafF8_tatT8gdAF&ved=0CAkQ8wc&usg=AFQjCNFI14m1gP24v4dM9fPlOFFoLliBNw">
                </a>
            </div>
            <br>   
        </div>
        <div class="col-xs-6 col-sm-4">
            <h4 id="TopIndex">TOP VENTE LIVRE</h4>
            <div>
                <p id="TexteTop">EN FINIR AVEC EDDY BELLEGUEULE</p>
                <a href="/livre">
                    <img id="ImgTop" src="http://media.senscritique.com/media/000006139043/source_big/En_finir_avec_Eddy_Bellegueule.jpg">
                </a>
            </div>
            <br>
            <div>
                <p id="TexteTop">REPARER LES VIVANTS</p>
                <a href="/livre">
                    <img id="ImgTop" src="http://media.senscritique.com/media/000007131145/source_big/Reparer_les_vivants.jpg">
                </a>
            </div>
            <br>
            <div>
                <p id="TexteTop">LE CHARDONNERET</p>
                <a href="/livre">
                    <img id="ImgTop" src="http://media.senscritique.com/media/000006106038/source_big/Le_Chardonneret.jpg">
                </a>
            </div>
            <br>  
        </div>
    </div>
</center>