<div class="Livre">

<a data-toggle="modal" data-target=".bs-efaeb-modal-lg">
    <img id="ImgLivre" src="http://media.senscritique.com/media/000006139043/source_big/En_finir_avec_Eddy_Bellegueule.jpg"> 
</a>
<div class="modal fade bs-efaeb-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalLivre" src="http://media.senscritique.com/media/000006139043/source_big/En_finir_avec_Eddy_Bellegueule.jpg">
            <br>
            <br>
            En Finir Avec Eddy Bellegueule <br>
            Prix: 9.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/livre'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-rlv-modal-lg">
    <img id="ImgLivre" src="http://media.senscritique.com/media/000007131145/source_big/Reparer_les_vivants.jpg"> 
</a>
<div class="modal fade bs-rlv-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalLivre" src="http://media.senscritique.com/media/000007131145/source_big/Reparer_les_vivants.jpg">
            <br>
            <br>
            Reparer Les Vivants <br>
            Prix: 9.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/livre'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

<a data-toggle="modal" data-target=".bs-lc-modal-lg">
    <img id="ImgLivre" src="http://media.senscritique.com/media/000006106038/source_big/Le_Chardonneret.jpg"> 
</a>
<div class="modal fade bs-lc-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <br>
            <img id="ImgModalLivre" src="http://media.senscritique.com/media/000006106038/source_big/Le_Chardonneret.jpg">
            <br>
            <br>
            Le Chardonneret <br>
            Prix: 9.99 €
            <br>
            <br>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/merci'">ACHETER</button>
            <button id="AR" class="btn btn-default" onclick="document.location.href='/livre'">RETOUR</button>
            <br>
            <br>
        </div>
    </div>
</div>

</div>