<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="todolist.css">
		<meta charset="utf-8"/>
		<title>ToDo List</title>
	</head>
	<body>
	<center>
		<%= yield %>
	</center>
	</body>
</html>