<h2 class="center">MAYWEATHER VS PACQUIAO</h2>
<center>
	<img class="img-thumbnail" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://examinerz.com/wp-content/uploads/defense-vs-offense-floyd-mayweather--manny-pacquiao-on-would-possibly-2-55120cd428234.jpg&sa=X&ei=qSlCVfiIPMn9UI7HgfAM&ved=0CAkQ8wc&usg=AFQjCNFbPJbRXBYIFycRtDu49UeNEwmsWQ">
</center>
<br>
<h2 class="center">JONES VS CORMIER</h2>
<center>
	<img class="img-thumbnail" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://cdn2-b.examiner.com/sites/default/files/styles/image_content_width/hash/04/cb/04cb3143f460d557caf538e19072a454.jpg?itok=luq2I38C&sa=X&ei=UylCVZ-_NIu9UZPkgdgP&ved=0CAkQ8wc&usg=AFQjCNG1yqP6SNGiJLGhucKm4c2uKKn3Ew">
</center>
<br>
<h2 class="center">MELENDEZ VS SANCHEZ</h2>
<center>
	<img class="img-thumbnail" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://cdn2-b.examiner.com/sites/default/files/styles/image_content_width/hash/47/e9/47e92d61fe11e64e060949053080f05f.jpg?itok=3guszurq&sa=X&ei=BilCVZvJI8XwUqekgPAC&ved=0CAkQ8wc4HA&usg=AFQjCNFU0n8y4CloXsdZcCD3MZf9XfU-Gg">
</center>
<br>