<h3 class="center">ANDERSON SILVA "JE NE SUIS PAS UN TRICHEUR !".</h3>
<center>
	<img class="img-thumbnail" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.evolutionary.org/wp-content/uploads/2015/02/Anderson-Silva-Denies-Steroid-Use.jpeg&sa=X&ei=viBCVeqUOcmiU67dgeAL&ved=0CAkQ8wc4Pg&usg=AFQjCNGK2bqPRbOSqKZBCj9BYekPvc4WeA">
	<p id="AS">Le Brésilien Anderson Silva a pris la parole pour la première fois depuis qu'il a échoué à des tests antidopage, vendredi. <br>
	<br>
	Le combattant de l'Ultimate Fighting Championship (UFC) a affirmé qu'il n'est pas un tricheur.<br>
	<br>
	«Je ne sais pas pourquoi je m'excuserais, parce que j'attends toujours les résultats des tests secondaires et de l'enquête, a-t-il déclaré par voie de communiqué. Des spécialistes s'affairent à révéler la vérité.»<br>
	<br>
	«Tout ce que j'ai consommé depuis que je me suis blessé [une fracture d'un tibia en 2013] est analysé. J'ai toujours été propre, je n'ai jamais été un tricheur.»<br>
	<br>
	L'homme de 39 ans, longtemps considéré comme le meilleur athlète d'arts martiaux mixtes de la planète avant ses revers contre l'Américain Chris Weidman, pense que «les gens qui me condamnent déjà sont injustes» envers lui.<br>
	<br>
	«Le temps qu'il faut pour détruire une réputation est infiniment moins long que celui qu'il faut pour la construire.»<br>
	<br></p>
</center>

<h2 class="center">LE COMBAT DU SIECLE ?</h2>
<h6 class="center">Floyd Mayweather - Manny Pacquiao</h6>
<center>
	<img class="img-thumbnail" id="imgindex" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://roundbyroundboxing.com/wp-content/uploads/2013/11/Pacquiao-Mayweather.jpeg&sa=X&ei=D_ZBVaa7BsStUdXfgaAJ&ved=0CAkQ8wc4Fw&usg=AFQjCNGN0cUTJ7Z-o4VwqsKPl9Y5hFxnsg">
	<p id="MvP">De l’argent. Des victoires. Des spectateurs. Le combat du siècle qui opposera deux légendes de la boxe, Floyd Mayweather et Manny Pacquiao samedi prochain, s’annonce historique à tous points de vue.</p>
</center>