<center>
	<form method="post" action="/merci">
		<input id="InscriptionMail" type="text" name="mail" placeholder="Ajouter votre mail"> <br>
		<button id="VR" type="submit" class="btn btn-danger">VALIDER</button>
		<button id="VR" type="button" onclick="document.location.href='/'" class="btn btn-default">RETOUR</button>
	</form>
</center>