<center>
	<h4 id="Merci"> Merci de votre confiance, vous recevrez la newsletter chaque semaine.</h4>
	<button id="VR" type="button" onclick="document.location.href='/'" class="btn btn-default">RETOUR A L'ACCUEIL</button>
</center>