<h3 class="center">Anderson Silva</h3>
<center>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/XymxvIQ309E?rel=0" frameborder="0" allowfullscreen></iframe>
</center>
<br>
<h3 class="center">Manny Pacquiao</h3>
<center>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/x-B2JHG_SOQ?rel=0" frameborder="0" allowfullscreen></iframe>
</center>
<br>
<h3 class="center">Floyd Mayweather</h3>
<center>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/ZHIhsLhQ-q8?rel=0" frameborder="0" allowfullscreen></iframe>
</center>
<br>