<center>
	<h4 id="Article">EDITER ARTICLE</h4>
	<form action="/edit/<%=@blog.id%>" method="post">
		<input class="form-control Article" type="text" name="content" placeholder="<%=@blog.content%>">
	</form>
</center>