<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/Bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/Blog.css">
		<meta charset="utf-8"/>
		<title>Info Mercato</title>
	</head>
	<body>
		<header>
			<div class="Haut">
				<a href="/"><img class="ContenuHaut" id="ImgHaut" src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.apartheid-international.org/fichiers/logos/logo_maai_hr.png&sa=X&ei=z49QVejgLoi1UeydgfgB&ved=0CAkQ8wc4GA&usg=AFQjCNHpGrb0DTutW-n7O3sE59XepMRI-w"></a>
				<p class="ContenuHaut" id="PHaut">INFO MERCATO</p>
				<a href="/new"><p class="ContenuHaut" id="P2Haut">NOUVELLE ARTICLE</p></a>
			</div>
		</header>
		<div class="Milieu">
			<%= yield %>
		</div>
		<footer>
			<div class="Bas">
				<p id="PBas">© TEULIERE CHRISTOPHER #SIMPLonMARS</p>
			</div>
		</footer>
	</body>
</html>