<center>
	<h4 id="Article">NOUVELLE ARTICLE</h4>
	<form class="Formulaire" method="post" action="/new">
		<input class="form-control Article" type="text" name="content" placeholder="Ajouter un article">
	</form>
</center>