<div class="formulaire">
<center>
	<form method="post" action="/voyage">
		<input class="NPAP" type="text" name="nom" placeholder="Ajouter votre nom">
		<input class="NPAP" type="text" name="prenom" placeholder="Ajouter votre prenom">
		<input class="NPAP" type="text" name="adresse" placeholder="Ajouter votre adresse">
		<input class="NPAP" type="text" name="pays" placeholder="Ajouter votre pays"> <br>
		<div class="VR">
			<button id="vr1" type="submit" class="btn btn-warning">VALIDER</button>
			<button id="vr1" type="button" onclick="document.location.href='/'" class="btn btn-info">RETOUR</button>
		</div>
	</form>
</center>
</div>