<div>
	<p>Bienvenue sur Sud America Airline, site de voyage spécialisé dans le sud du continent Americain. Brésil, Argentine, Colombie et bien d'autre destination sont prêtes a vous accueillir pour vos vacances, fêtes ou evenements speciaux !
	</p>
	<center>
		<button type="button" onclick="document.location.href='/formulaire'" class="btn btn-warning">ACCEDER AU FORMULAIRE D'INSCRIPTION</button>
	</center>
</div>