<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/Bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/voyage.css">
		<meta charset="utf-8"/>
		<title>Sud America Airline</title>
	</head>
	<body>
		<h1>SUD AMERICA AIRLINE</h1>
			<div class="Haut"></div>
			<div class="Droite">
				<img src="http://www.oasis-voyages.com/ressources/14_bhoutan_oasis_voyages_voyage_initiatique_spirituel.jpg" class="img-rounded">
				<img id="MilieuImg" src="http://image.hdstockphoto.com/pics/thumbs/463/mountains-clouds-landscapes-nature-canada-british-columbia-2256023.jpg" class="img-rounded">
				<img src="http://northbysouthwest.fr/wp-content/uploads/2012/02/Tolar-Grande-141664_200x200.jpg" class="img-rounded">
			</div>
			<div class="Gauche">
				<img src="http://www.steamevasion.com/wp-content/uploads/2013/10/BRESILvign-2190x220-cropped.jpg" class="img-rounded">
				<img id="MilieuImg" src="http://ekladata.com/KnPrOKb5RwdOju4i9k3jJ6Ach9M@200x200.jpg" class="img-rounded">
				<img src="http://www.azurever.com/sites/default/files/images/activites/a1/randonnes-dans-les-levadas-71312.jpg" class="img-rounded">
			</div>
			<%= yield %>
	</body>
</html>