<p>Merci d'avoir choisi Sud America Airlines pour votre voyage, toute l'équipe vous souhaite un très bon voyage. À très bientôt sur nos services !</p>
<center>
<button type="button" onclick="document.location.href='/'" class="btn btn-info">RETOUR A L'ACCUEIL</button>
</center>