<style type="text/css">
	.Gauche {
		height: 1010px;
	}

	.Droite {
		height: 1010px;
	}
</style>

<p>
Bonjour <%=params[:nom]%> <%=params[:prenom]%>.<br>
Merci de votre confiance ! Veuillez choisir votre destination:
</p>
<center>
	<table>
		<tr>
			<td>
				<img class="img-thumbnail" src="http://www.tesorito.com.ar/img/small/2/pm2.JPG">
				<a href="/merci">Argentine</a>
			</td>
			<td>
				<img class="img-thumbnail" src="http://img.over-blog-kiwi.com/200x150-ct/0/44/15/13/201305/ob_3c50e61bb49963b774af6bd63cdecc21_3310140394-467b6314b7.jpg">
				<a href="/merci">Bresil</a>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-thumbnail" src="http://espacla.chez-alice.fr/photos/bol04_small.jpg">
				<a href="/merci">Bolivie</a>
			</td>
			<td>
				<img class="img-thumbnail" src="http://pascal-pigeard.pagesperso-orange.fr/chili/200X150/208521-r.jpg">
				<a href="/merci">Chilie</a>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-thumbnail" src="http://www.i-voyages.net/wp-content/uploads/2014/09/colombie-cafe-011-200x150.jpg">
				<a href="/merci">Colombie</a>
			</td>
			<td>
				<img class="img-thumbnail" src="http://www.alter-echanges.fr/page/page-179-5qzf0i.jpg">
				<a href="/merci">Equateur</a>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-thumbnail" src="http://i01.i.aliimg.com/wsphoto/v0/32297354699/la-peinture-de-paysage-chinois-affiche-moderne-peinture-sur-toile-de-l-art-chinois-de-style.jpg_200x200.jpg">
				<a href="/merci">Paraguay</a>
			</td>
			<td>
				<img class="img-thumbnail" src="http://www.xavier-barthelemy-photo.com/wp-content/gallery/perou/thumbs/thumbs_dsc06308r.jpg">
				<a href="/merci">Perou</a>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-thumbnail" src="http://photos.travellerspoint.com/500820/thumb_Australia_by_van_087.jpg">
				<a href="/merci">Uruguay</a>
			</td>
			<td>
				<img class="img-thumbnail" src="http://www.avenuedesvoyages.fr/wp-content/themes/reFresh_light/includes/timthumb.php?src=http://www.avenuedesvoyages.fr/wp-content/uploads/2013/09/Caracas_Venezuela3.jpg&w=200&h=150">
				<a href="/merci">Venezuela</a>
			</td>
		</tr>
	</table>
</center>