<style type="text/css">
	#TableVoiture {
		width: 400px;
	}

	#Etoile {
		text-align: center;
	}

	#retour {
		margin-top: 10px;
		width: 200px;
	}
</style>

<table id="TableVoiture" class="table table-condensed">
	<thead>
		<tr>
			<th>#</th>
			<th>Modeles</th>
			<th>Motorisations</th>
			<th>Avis Consommateurs</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row"></th>
			<td>R8</td>
			<td>4 Disponibles</td>
			<td id="Etoile">95%</td>
		</tr>
		<tr>
			<th se="row"></th>
			<td>RS3</td>
			<td>4 Disponibles</td>
			<td id="Etoile">65%</td>
		</tr>
		<tr>
			<th scope="row"></th>
			<td>A5</td>
			<td>4 Disponibles</td>
			<td id="Etoile">75%</td>
		</tr>
		<tr>
			<th scope="row"></th>
			<td>TT</td>
			<td>4 Disponibles</td>
			<td id="Etoile">85%</td>
		</tr>
	</tbody>
</table>
<p>CHOIX DU MODELE:</p>
<div class="Choix">
      <button type="button" onclick="document.location.href='/r8'" class="btn btn-primary">R8</button>
      <button type="button" onclick="document.location.href='/rs3'" class="btn btn-danger">RS3</button>
      <button type="button" onclick="document.location.href='/a5'" class="btn btn-primary">A5</button>
      <button type="button" onclick="document.location.href='/tt'" class="btn btn-danger">TT</button> <br>
      <button id ="retour" type="button" onclick="document.location.href='/'" class="btn btn-default">Retour</button>
</div>