<style type="text/css">
	a {
		text-decoration: none;
		color: red;
	}

	a:hover {
		text-decoration: none;
		color: blue;
		font-weight: bold;
	}

	p {
		text-decoration: underline;
	}

	#VR {
		width: 200px;
	}

	.LS {
		margin-top: 10px;
	}
</style>

<img src="http://www.mediag4.com/media/ap/image/porsche/10cayenne_gallery10.jpg">
<h2>PRIX: 200€/H - 3 500€/JOUR
</h2>
<div>
	<button id="VR" onclick="document.location.href='/confirmation'"class="btn btn-default" type="submit">Valider</button>
	<button id="VR" onclick="document.location.href='/porsche'"class="btn btn-default" type="submit">Retour</button>
</div>
<div class="LS">
	<p>Locations Similaires:</p>
	<a href="/panamera">Porsche Panamera S</a><br>
	<a href="/rs3">Audi RS3</a><br>
	<a href="/tt">Audi TT</a>
</div>