<style type="text/css">
	a {
		text-decoration: none;
		color: red;
	}

	a:hover {
		text-decoration: none;
		color: blue;
		font-weight: bold;
	}

	p {
		text-decoration: underline;
	}

	#VR {
		width: 200px;
	}

	.LS {
		margin-top: 10px;
	}
</style>

<img src="http://www.ascgroup.ru/upload/iblock/879/cayman-700.jpg">
<h2>PRIX: 700€/H - 17 000€/JOUR
</h2>
<div>
	<button id="VR" onclick="document.location.href='/confirmation'"class="btn btn-default" type="submit">Valider</button>
	<button id="VR" onclick="document.location.href='/porsche'"class="btn btn-default" type="submit">Retour</button>
</div>
<div class="LS">
	<p>Locations Similaires:</p>
	<a href="/carrera">Porsche 911 Carrera GTS</a><br>
	<a href="/gallardo">Lamborghini Gallardo</a><br>
	<a href="/r8">Audi R8</a>
</div>