<style type="text/css">
	h3 {
		width: 700px;
	}

	button {
		width: 200px;
	}
</style>

<h3>LEGENDARY MOTORSPORT VOUS REMERCIE DE VOTRE CONFIANCE, BONNE ROUTE !</h3>
<button onclick="document.location.href='/'"class="btn btn-default" type="submit">Retour à l'accueil</button>