<style type="text/css">
	a {
		text-decoration: none;
		color: red;
	}

	a:hover {
		text-decoration: none;
		color: blue;
		font-weight: bold;
	}

	p {
		text-decoration: underline;
	}

	#VR {
		width: 200px;
	}

	.LS {
		margin-top: 10px;
	}
</style>

<img src="http://autofresh.net/review-produk/content/031214095751125/Ferrari-FF-intro.jpg">
<h2>PRIX: 400€/H - 8000€/JOUR
</h2>
<div>
	<button id="VR" onclick="document.location.href='/confirmation'"class="btn btn-default" type="submit">Valider</button>
	<button id="VR" onclick="document.location.href='/ferrari'"class="btn btn-default" type="submit">Retour</button>
</div>
<div class="LS">
	<p>Locations Similaires:</p>
	<a href="/f458">Ferrari 458</a><br>
	<a href="/rs3">Audi RS3</a><br>
	<a href="/panamera">Porsche Panamera S</a>
</div>