<style type="text/css">
	div div {
		display: inline-block;
	}

	#imageindex {
		width: 800px;
	}

	p {
		margin-top: 10px;
		width: 700px;
	}
	#TableVoiture {
		width: 500px;
	}
	#retour {
		margin-top: 10px;
		width: 200px;
	}
</style>

<div id="imageindex" class="row">
	<div class="col-xs-6 col-sm-3"><img src="http://blog.tea-cerede.com/wp-content/uploads/2011/04/lamborghini-aventador-video-assurance-vehicule-de-prestige-sportif.jpg" class="img-thumbnail"></div>
	<div class="col-xs-6 col-sm-3"><img src="http://i-cms.journaldunet.com/image_cms/300/488030-des-voitures-de-vip-a-la-location.jpg" class="img-thumbnail"></div>
	<div class="col-xs-6 col-sm-3"><img src="http://blog.tea-cerede.com/wp-content/uploads/2011/02/saleen-s5s-raptor.jpg" class="img-thumbnail"></div>
	<div class="col-xs-6 col-sm-3"><img src="http://www.mybestluxe.com/wordpress/wp-content/uploads/2013/01/50ffb70cb72142e763000012-200x200.jpg" class="img-thumbnail"></div>
</div>

<p>Bienvenue sur Legendary Motorsport, site de locations de véhicules type sport & luxe. Nous vous présentons une gamme variée, confortable et puissante de voiture qui changera votre vision de l'automobile. Bonne chance pour choisir.</p>

<table id="TableVoiture" class="table table-condensed">
	<thead>
		<tr>
			<th>#</th>
			<th>Constructeurs</th>
			<th>Modeles</th>
			<th>Motorisations</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row"></th>
			<td>Lamborghini</td>
			<td>4 Disponibles</td>
			<td>4 Disponibles</td>
		</tr>
		<tr>
			<th se="row"></th>
			<td>Audi</td>
			<td>4 Disponibles</td>
			<td>4 Disponibles</td>
		</tr>
		<tr>
			<th scope="row"></th>
			<td>Porsche</td>
			<td>4 Disponibles</td>
			<td>4 Disponibles</td>
		</tr>
		<tr>
			<th scope="row"></th>
			<td>Ferrari</td>
			<td>4 Disponibles</td>
			<td>4 Disponibles</td>
		</tr>
		<tr>
			<th scope="row"></th>
			<td>Bugatti</td>
			<td>1 Disponible</td>
			<td>4 Disponibles</td>
		</tr>
	</tbody>
</table>
<p>CHOIX DU VEHICULE:</p>
<div class="Choix">
      <button type="button" onclick="document.location.href='/lamborghini'" class="btn btn-primary">LAMBORGHINI</button>
      <button type="button" onclick="document.location.href='/audi'" class="btn btn-danger">AUDI</button>
      <button type="button" onclick="document.location.href='/porsche'" class="btn btn-primary">PORSCHE</button>
      <button type="button" onclick="document.location.href='/ferrari'" class="btn btn-danger">FERRARI</button>
      <button type="button" onclick="document.location.href='/bugatti'" class="btn btn-primary">BUGATTI</button>
</div>