<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="Bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="Projet28.css">
		<meta charset="utf-8"/>
		<title>Legendary Motorsport</title>
	</head>
	<body>
	<center>
		<h1 id="Titre">LEGENDARY MOTORSPORT</h1>
		<h4 id="SousTitre">LOCATION VEHICULE LUXE & SPORT</h3>
		<%= yield %>
	</center>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</html>