<style type="text/css">
	a {
		text-decoration: none;
		color: red;
	}

	a:hover {
		text-decoration: none;
		color: blue;
		font-weight: bold;
	}

	p {
		text-decoration: underline;
	}

	#VR {
		width: 200px;
	}

	.LS {
		margin-top: 10px;
	}
</style>

<img src="http://www.excelcolourprint.co.uk/wp-content/uploads/2014/12/FINAL-IMAGE-_00000-700x300.jpg">
<h2>PRIX: 1000€/H - 20 000€/JOUR
</h2>
<div>
	<button id="VR" onclick="document.location.href='/confirmation'"class="btn btn-default" type="submit">Valider</button>
	<button id="VR" onclick="document.location.href='/audi'"class="btn btn-default" type="submit">Retour</button>
</div>
<div class="LS">
	<p>Locations Similaires:</p>
	<a href="/carrera">Porsche 911 Carrera GTS</a><br>
	<a href="/huracan">Lamborghini Huracan</a><br>
	<a href="/tt">Audi TT</a>
</div>