<style type="text/css">
	a {
		text-decoration: none;
		color: red;
	}

	a:hover {
		text-decoration: none;
		color: blue;
		font-weight: bold;
	}

	p {
		text-decoration: underline;
	}

	#VR {
		width: 200px;
	}

	.LS {
		margin-top: 10px;
	}
</style>

<img src="http://www.misryat.com/wp-content/uploads/2015/03/Bugatti-Veyron-Super-Sport-700x300.jpg">
<h2>PRIX: 1000€/H - 20 000€/JOUR
</h2>
<div>
	<button id="VR" onclick="document.location.href='/confirmation'"class="btn btn-default" type="submit">Valider</button>
	<button id="VR" onclick="document.location.href='/bugatti'"class="btn btn-default" type="submit">Retour</button>
</div>
<div class="LS">
	<p>Locations Similaires:</p>
	<a href="/f458">Ferrari 458</a><br>
	<a href="/huracan">Lamborghini Huracan</a><br>
	<a href="/r8">Audi R8</a>
</div>